<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login/SignUp</title>
	<link rel="stylesheet" type="text/css" href="../static/CAMDAIS/login.css">
</head>
<body>
<div class="container">
	<div class="card">
        <div class="inner-box" id="card">

            <!-- Log in part -->
            <div class="card-front">
                <h2 style="font-family: cursive; color:white; text-align: center;">CAMDAIS</h2>
                 
                <form action="{% url 'SignIn' %}" method="POST">
                    {% csrf_token %}
                	<input name="username" type="text" class="input-box" placeholder="User Name" required name="" id="">
                    <input name="pass" type="password" class="input-box" placeholder="password" required name="" id="">
                    <button name='login' type="submit" class="submit-btn">logIn</button>
                </form>
                <button type="button" class="btn" onclick="openRegister()">Create New Account</button>
                <a href="">Forgotten password?</a>
            </div>
            <div class="card-back">
                <form action="{% url 'SignIn' %}" method="POST">
                    {% csrf_token %}
                    <h2>REGISTER</h2>
                    <input name="username" type="text" class="input-box" placeholder="User Name" required name="" id="">
                        <input name="email" type="email" class="input-box" placeholder="Email" required name="" id="">

                        <input name="first_name" type="text" class="input-box" placeholder="Enter First NAme" required name="" id="">

                        <input name="last_name" type="text" class="input-box" placeholder="Enter Last Name" id="">

                        <input name="password" type="password" class="input-box" placeholder="password" required name="" id="">

                        <input name="password2" type="password" class="input-box" placeholder="Confirm password" required name="" id="">
                    <button name="SignUp" type="submit" class="submit-btn">Create</button>
                    <button type="button" class="btn" onclick="openLogin()">I have an account</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <script>
    let card = document.getElementById("card");
    function openRegister() {
    	card.style.transform = "rotateY(-180deg)";
    }

    function openLogin() {
        card.style.transform = "rotateY(0deg)";
    }

    function myFunction() {
        confirm("Invalid User Name or Password");
    }
   </script>
</body>
</html>