<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
    <script src="https://kit.fontawesome.com/71f85cf5f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="../static/CAMDAIS/question.css">
    <title>Exam</title>
</head>

<body>
    <div style="background: #83ACB5;
    border-radius: 56px;" class="ui sidebar vertical left inverted menu">
        <h5 style="display: flex; justify-content: center; align-items: center;" class="mt-5">Welcome</h5>
        <p  style="display: flex; justify-content: center; align-items: center;" class="text-white mt-3">{{user.first_name}} {{user.last_name}}</p>
        {% if userType is None %}
        <p  style="display: flex; justify-content: center; align-items: center;">User</p>
        <br>
        <a class="item" href="{% url 'InsttuteForm' %}"><i class="fa-solid fa-building-columns me-2"></i>Create Institute Account</a>
        <a class="item" href="{% url 'StudentForm' %}"><i class="fa-solid fa-user me-2"></i>Assign as a Student</a>
        {% elif userType == "admin" %}
        <p  style="display: flex; justify-content: center; align-items: center;">Institute Admin</p>
        <br>
        <a class="item" href="{% url 'InsttutePage' %}"><i class="fa-solid fa-building-columns me-2"></i>{{my_institute.name}}</a>
        {% elif userType == "student" %}
        <p  style="display: flex; justify-content: center; align-items: center;">Student</p>
        <br>
        <a class="item" href="#"><i class="fa-solid fa-building-columns me-2"></i>{{my_institute.name}}</a>
        {% endif %}
        <a class="item"><i class="fa-solid fa-user-plus me-2"></i>Make test as a guest</a>
        <a class="item"><i class="fa-solid fa-star me-2"></i>Apear in a test</a>
        <a class="item"><i class="fa-solid fa-square-poll-vertical me-2"></i>Results</a>
    </div>
    <div style="background: #83ACB5; " class="ui basic icon top fixed inverted menu" >
        <a id="toggle" class="item">
            <i style="color: black;" class="sidebar icon"></i>
        </a>
        <div class="item mid" ><a class="ui inverted header" href="{% url 'homepage' %}">CAMDAIS</a></div>

        <div style="display: flex; align-items: center; justify-content: center;" class="ui right secondary menu">
            <a style="color: white;" class="item" href="">Help</a>
            <a style="color: white;" class="item" href="">About</a>
            <a style="color: white;" class="item" href="">Contact</a>
            <div style="color: white;" class="ui right inverted simple dropdown item">
                {{user.first_name}}
                <i class="dropdown icon"></i>
                <div class="menu" style="background: #83ACB5;">
                  <div class="item">Profile</div>
                  <a class="item" href="{% url 'Logout' %}">SignOut</a>
                </div>
            </div>
        </div>
        
    </div>  

    <div class="pusher" style="background: whitesmoke; height: 700px;">
        <div class="ui container" style="padding-top: 100px; height: 100%; width: 80%;">
            <!-- put everything here -->
            <p style="font-size: 30px">{{my_institute.name}}</p>
            <p style="font-size: 20px">Hi, dear {{user.first_name}} {{user.last_name}}, you have to answer all the questions, then we identify your deficiency and anxiety on maths, Thank you and Best of luck</p>
            <br>
            <!-- Form -->
            <form method="POST" action="/testPage/">
                {% csrf_token %}
            {% for each, current_dict in mytest_dict.items %}
            <div class="question-answer">
            <div style="font-size: 30px; text-align: center;" class="dashboard">{{each}}</div>
            <hr class="line">
            {% for each_exam, exam in current_dict.items %}
            {% for each_inner_exam, inner_exam in exam.items %}
            <input type="hidden" name="each[]" value="{{ each }}">
            <input type="hidden" name="question[]" value="{{ inner_exam.question }}">
            <div>
            <p>{{inner_exam.question}}</p>
            <input type="radio" name="answer{{ each }}_{{ each_inner_exam }}" value="{{inner_exam.ans1}}"> a) {{inner_exam.ans1}}<br>
            <input type="radio" name="answer{{ each }}_{{ each_inner_exam }}" value="{{inner_exam.ans2}}"> b) {{inner_exam.ans2}}<br>
            <input type="radio" name="answer{{ each }}_{{ each_inner_exam }}" value="{{inner_exam.ans3}}"> c) {{inner_exam.ans3}}<br>
            <input type="radio" name="answer{{ each }}_{{ each_inner_exam }}" value="{{inner_exam.ans4}}"> d) {{inner_exam.ans4}}<br>
            </div>
            {% endfor %}
            {% endfor %}
            </div>
            <br>
            {% endfor %}

        <button onMouseOver="this.style.backgroundColor='rgba(0, 106, 78, 0.842)'" onMouseOut="this.style.backgroundColor='#83ACB5'">Submit your answers</button>
        </form>
        </div>
    </div>
    
    

    <script>
        $("#toggle").click(function(){
            $('.ui.sidebar').sidebar('toggle');
        });
        
    </script>
</body>
</html>