<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/71f85cf5f2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/CAMDAIS/home.css">
    <title>IMATAP</title>
</head>

<!-- Navigation section start -->
    <section>
        <nav class="navbar navbar-expand-lg bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </section>

    <!-- Navigation section end -->


     <!-- Banner section start -->
    <section>
        <div class="banner-image">
            <div class="banner-card">
                <div class="card-body">
                    <h5 class="card-title">KNOW ABOUT US</h5>
                    <!-- <h5 class="card-title">You into Shape</h5> -->
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, quidem.</p>
                    <a href="#" class="btn btn-outline-light">Click Here</a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="second-banner">
            <h1>IMATAP</h1>
        </div>
    </section>


    <div class="container row mx-5 my-5">
        <div class="col-md-7 mt-5">
            <h5>Our Mission</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae hic facere
                assumenda voluptatibus illo id iure atque sint molestias cum eveniet incidunt maxime
                architecto minus eligendi iste, praesentium tempore! Ab ut sit voluptatum impedit animi
                sint dolores vitae totam? Ipsum officiis sunt non recusandae? Possimus aperiam eos cupiditate
                delectus libero!</p>
            <h5>Our Vision</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae hic facere
                assumenda voluptatibus illo id iure atque sint molestias cum eveniet incidunt maxime
                architecto minus eligendi iste, praesentium tempore! Ab ut sit voluptatum impedit animi
                sint dolores vitae totam? Ipsum officiis sunt non recusandae? Possimus aperiam eos cupiditate
                delectus libero!</p>
        </div>
        <div class="col-md-5 mt-5 ">
            <img class="img-fluid" src="./img/OURMISSION.jpg" alt="">
        </div>
    </div>

    <!-- Banner section ends -->


    <!-- Institutions section starts  -->
    <section class=" container my-5">
        <h2 class="text-center my-5">OUR INSTITUTIONS</h2>
        <p class="text-center mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eveniet, deleniti
            minima alias temporibus
            quae non iusto fugiat consequuntur commodi!</p>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/AB-ADARSHA.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
                <h5>Choose a Plan</h5>
                <p>Choose a consistant plan</p>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/MA-ROSHID.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
                <h5>Fill up your form and Pay</h5>
                <p>Give required information about you</p>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/MK-ACADEMY.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
                <h5>Get your Receipt</h5>
                <p>Download your payslip</p>
            </div>
        </div>
    </section>
    <!-- Institute section ends -->


<body>
    
</body>

</html>