<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login/SignUp</title>
</head>
<body>
	<div class="card">
        <div class="inner-box" id="card">

            <!-- Log in part -->
            <div class="card-front">
                <h2 style="font-family: cursive; color:white; text-align: center;">khati Food</h2>
                <form action="" method="POST"> 
                    <form action="" method="POST">
                    	<input name="username" type="text" class="input-box" placeholder="User Name" required name="" id="">
                        <input name="pass" type="password" class="input-box" placeholder="password" required name="" id="">
                        <button name='login' type="submit" class="submit-btn">logIn</button>
                    </form>
                    <button type="button" class="btn" onclick="openRegister()">Create New Account</button>
                    <a href="">Forgotten password?</a>
            </div>
            <div class="card-back">
                <form action="" method="POST">
                    <h2>REGISTER</h2>
                    <input name="username" type="text" class="input-box" placeholder="User Name" required name="" id="">
                        <input name="email" type="text" class="input-box" placeholder="User Name" required name="" id="">

                        <input name="first_name" type="text" class="input-box" placeholder="User Name" required name="" id="">

                        <input name="last_name" type="text" class="input-box" placeholder="User Name" id="">

                        <input name="pass" type="password" class="input-box" placeholder="password" required name="" id="">
                    <button name="create" type="submit" class="submit-btn">Create</button>
                    <button type="button" class="btn" onclick="openLogin()">I have an account</button>
                </form>
            </div>
        </div>
    </div>

    <script>
    let card = document.getElementById("card");
    function openRegister() {
    	card.style.transform = "rotateY(-180deg)";
    }

    function openLogin() {
        card.style.transform = "rotateY(0deg)";
    }

    function myFunction() {
        confirm("Invalid User Name or Password");
    }
   </script>
</body>
</html>