.ui.sidebar.vertical.left..inverted.menu.uncover.visible {
	background: #83ACB5;
	border-radius: 56px;
}
body{
	background: white;
}

.part1 {
	position: absolute;
	width: 1512px;
	height: 50px;
	top: 0px;
	background: #006A4E;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard {
	position: absolute;
	width: 183px;
	height: 42px;
	left: 5px;
	top: 167px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;

	color: #000000;
}

.line {
	position: absolute;
	width: 100%;
	height: 0px;
	left: 569px;
	top: 219px;

	border: 2px solid #756A6A;
}