.banner-image {
    background-image: url("./img/newbannerimage.jpg");
    height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}